.footBar {
  height: 100px;
  width: 60rem;
  padding-bottom: 15px;
  margin-left: 200px;
  border-radius: 15px;
}

.details {
  font-size: small;
  padding-top: 4px;
  color: rgb(111, 110, 110);
  background-color: white;
}

ul li {
  color: black;
  background-color: white;
}

ul > li:hover {
  color: black;
  font-size: large;
}
